 <%= render "shared/navbar" %>
<div class="container" style="padding-top: 90px;">
  <div class="m-1">
    <p><%= link_to "⬅", profile_path, :style=>'text-decoration: none;' %></p><br>
    <h4><strong>/ <%= @folder.name.capitalize %></strong></h4>
    <p><i><%= @folder.bookmarks.count %> <% if @folder.bookmarks.count == 1 %>video<% else %>videos<% end %></i></p>
  </div>
  <div class="sigle-video">
    <%@folder.bookmarks.each do |bookmark|%>
    <%= cl_video_tag bookmark.video.video.key, class: "card-img-top rounded", controls: true %>
    <%= link_to "🗑", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
