<div style="height: 12px;"></div>

<div class="video">
  <% @videos.each do |video| %>

  <div data-bs-toggle="modal" data-bs-target="#video<%= video.id %>">
    <% @user_folders = Folder.where(user: current_user) %>
    <% @user_folders.each do |user_folder| %>
      <% @booked = Bookmark.where(video: video).and(Bookmark.where(folder: user_folder)) %>
    <% end %>
    <% if @booked.blank? %>
      <%= cl_video_tag video.video.key, class: "card-img-top rounded" %>
    <% else %>
      <%= cl_video_tag video.video.key, class: "card-img-top rounded", transformation: [ { overlay: "signary:bookmark_h0nscc", width: 60, opacity: 50, gravity: "north_east", y: 36, x: 36 } ] %>
    <% end %>
  </div>

  <div class="modal bg-primary" id="video<%= video.id %>" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title"><%= video.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body px-0 pb-0 mb-0">
          <div class="container">
            <div style="height: 12px;"></div>
            <%= cl_video_tag video.video.key, controls: true, class: "card-img-top rounded" %>
            <div style="height: 10px;"></div>
            <%= render "bookmarks/form", video: video, bookmark: @bookmark %>
            <%= render "videos/share", video: video %>
          </div>
        </div>

        <div style="height: 36px;"></div>

        <div class="container" style="padding-bottom: 24px;">
          <h5>Related signs</h5>
          <div style="height: 12px;"></div>
          <div class="video">
            <% @more = Video.where(category: video.category).limit(2) %>
            <% if @more %>
              <% @more.each do |another| %>
              <div>
                <div data-bs-toggle="modal" data-bs-target="#video<%= another.id %>">
                  <%= cl_video_tag another.video.key, class: "card-img-top rounded" %>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>


  <% end %>
</div>
