<div class="video">
  <% @videos.each do |video| %>

  <div data-bs-toggle="modal" data-bs-target="#video<%= video.id %>">
    <%= cl_video_tag video.video.key, class: "card-img-top rounded" %>
  </div>

  <div class="modal" id="video<%= video.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title"><%= video.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <%= cl_video_tag video.video.key, controls: true, class: "card-img-top rounded" %>
        </div>

        <%= render "bookmarks/form", video: video, bookmark: @bookmark %>

        <p><%= cl_video_path video.video.key %></p>
        <button type="button" class="btn btn-outline-primary">Share Me</button>

        <div class="video">
          <% @more = Video.where(category: video.category) %>
          <% if @more %>
          <% @more.each do |another| %>
          <div>
            <div data-bs-toggle="modal" data-bs-target="self">
              <%= cl_video_tag another.video.key, class: "card-img-top rounded" %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>


  <% end %>
</div>
