<%= render "shared/navbar" %>

<div class="container" style="padding-top: 90px;">
  <div>
    <h3>Add a new video</h3>
  </div>
</div>

<hr>

<div class="container">
  <div style="height: 24px;"></div>

  <%= simple_form_for @video do |f| %>
    <div class="input-group">
      <%= f.input :name, class: "form-control", placeholder: "Video title", label: false, autocomplete: "off" %>
      <%= f.input :category, collection: @folders, prompt: "Select a folder", label: false, input_html: { class: "form-control" } %>
      <%= f.input :video, as: :file, class: "form-control", label: false %>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-upload"></i></button>
      </div>
    </div>
  <% end %>

</div>


<%= render "shared/footer" %>
