<%= render "shared/navbar" %>

<div class="container" style="padding-top: 90px;">
  <div>
    <h3>Add a new video</h3>
  </div>

  <div style="height: 24px;"></div>

  <div data-controller="upload" data-upload-change-status-value="<p style='padding: 0; margin: 0;'>Uploading ...</p>">
    <%= simple_form_for @video do |f| %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter a name", style: "outline: none; box-shadow: none;", :autocomplete => :off %>
      <div style="height: 16px;"></div>
      <%= f.input :category, collection: @folders, prompt: "Select a folder", label: false, input_html: { class: "form-control", style: "outline: none; box-shadow: none;" } %>
      <div class="input-group d-flex justify-content-end">
        <%= f.input :video, as: :file, label: false, input_html: { class: "form-control", style: "outline: none; box-shadow: none;" } %>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" data-upload-target="button" data-action="click->upload#busy" style="outline: none; box-shadow: none;"><i class="fa-solid fa-upload"></i></button>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>
