<%= render "shared/navbar" %>

<div class="container" style="padding-top: 90px;">
  <div class="w-75">
    <h3><%= @video.name %></h3>
  </div>

  <div style="height: 12px;"></div>

  <div>
    <%= cl_video_tag @video.video.key, controls: true, class: "card-img-top rounded" %>
  </div>

  <div class="d-flex justify-content-between py-2">
    <div class="d-flex justify-content-start">
      <%= simple_form_for [@video, @bookmark] do |f| %>
        <div class="input-group" data-controller="bookmark" data-bookmark-change-status-value="<i class='fa-solid fa-spinner'></i>">
          <%= f.association :folder, collection: @folders, class: "form-control", prompt: "Add to a folder", label: false %>
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" data-bookmark-target="button" data-action="click->bookmark#add"><i class="fa-solid fa-bookmark"></i></button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-end p-2">
      <div data-controller="share" data-share-feedback-text-value="<p style='font-weight: 600; padding: 0; margin: 0;'>Copied</p>">
        <input type="hidden" data-share-target="url" value="<%= cl_video_path @video.video.key %>">
        <div data-share-target="button" data-action="click->share#copy"><i class="fa-regular fa-copy fa-xl"></i></div>
      </div>
      <div style="width: 12px;"></div>
      <div>
        <% if @favorite.blank? %>
        <div data-controller="favorite" data-favorite-change-status-value="<i class='fa-solid fa-heart fa-xl'></i>">
          <%= simple_form_for [@video, @bookmark] do |f| %>
            <input name="bookmark[folder_id]" type="hidden" value="<%= current_user.folders.find_by(name: "Favorites").id %>">
            <button type="submit" data-favorite-target="heart" data-action="click->favorite#like" style="background: none; border: 0; padding: 0; margin: 0;"><i class="fa-regular fa-heart fa-xl"></i></button>
          <% end %>
        </div>
        <% else %>
        <div>
          <i class="fa-solid fa-heart fa-xl"></i>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div>
    <h4>Related signs</h4>
    <div style="height: 12px;"></div>

    <div class="flex">
      <% @related_videos.each do |video| %>
      <div style="margin-right: 12px;">
        <%= link_to video_path(video) do %>
        <div>
          <%= cl_video_tag video.video.key, class: "rounded item flex-item" %>
        </div>
        <% end %>
        <div class="d-flex justify-content-start">
          <p style="font-weight: 600;"><%= video.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
