<%= render "shared/navbar" %>

<div class="container" style="padding-top: 90px;">

  <div>
    <h3><%= @video.name %></h3>
  </div>

  <div style="height: 12px;"></div>

  <div class="d-flex justify-content-between">
    <div>
      <%= cl_video_tag @video.video.key, controls: true, class: "card-img-top rounded" %>

      <%= simple_form_for [@video, @bookmark] do |f| %>
      <div class="input-group" style="width: 100%;">
        <%= f.association :folder, collection: Folder.where(user: current_user).order(:name), prompt: "Add to folder", label: false %>
        <div class="input-group-append">
          <button class="btn btn-primary rounded-right" type="submit"><i class="fa-solid fa-bookmark"></i></button>
        </div>
      </div>
      <% end %>
    </div>

    <div style="width: 24px;"></div>
    <div class="d-flex flex-column align-items-center">
      <div style="height: 12px;"></div>
        <% if @favorite.blank? %>
        <div data-controller="favorite" data-favorite-change-status-value="<i class='fa-solid fa-heart fa-xl'></i>">
          <%= simple_form_for [@video, @bookmark] do |f| %>
            <input name="bookmark[folder_id]" type="hidden" value="42">
            <button type="submit" data-favorite-target="heart" data-action="click->favorite#like" style="background: none; border: 0; padding: 0; margin: 0;"><i class="fa-regular fa-heart fa-xl"></i></button>
          <% end %>
        </div>
        <% else %>
        <div>
          <i class="fa-solid fa-heart fa-xl"></i>
        </div>
        <% end %>
      <div style="height: 12px;"></div>
      <div data-controller="share" data-share-feedback-text-value="<i class='fa-solid fa-copy fa-xl'></i>">
        <input type="hidden" data-share-target="url" value="<%= cl_video_path @video.video.key %>">
        <div data-share-target="button" data-action="click->share#copy"><i class="fa-regular fa-copy fa-xl"></i></div>
      </div>
      <%# <div style="height: 12px;"></div>
      <div>
        <i class="fa-regular fa-folder fa-xl"></i>
      </div> %>
    </div>
  </div>

  <div style="height: 36px;"></div>

  <div>
    <h4>Related signs</h4>
    <div style="height: 12px;"></div>

    <div class="flex">
      <% @related_videos.each do |video| %>
      <div style="margin-right: 12px;">
        <%= link_to video_path(video) do %>
        <div class="relative">
          <%= cl_video_tag video.video.key, class: "rounded item flex-item" %>
          <div class="absolute">
            <%# <i class="fa-regular fa-bookmark fa-xl opacity-50" style="color: white;"></i> %>
          </div>
        </div>
        <% end %>
        <div class="d-flex justify-content-start">
          <p style="font-weight: 600;"><%= video.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
