<%= render "shared/navbar" %>

<div style="height: 12px;"></div>

<div class="container" style="padding-top: 90px;">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl"></i>
  <% end %>

  <div style="height: 18px;"></div>

  <div>
    <h4><strong><%= @video.name %></strong></h4>
  </div>

  <div style="height: 12px;"></div>

  <div class="d-flex justify-content-between">
    <div>
      <%= cl_video_tag @video.video.key, controls: true, class: "card-img-top rounded" %>
    </div>
    <div style="width: 24px;"></div>
    <div>
      <div style="height: 12px;"></div>
      <div style="text-align: right;" data-controller="favorite" data-favorite-feedback-text-value="<i class='fa-solid fa-heart fa-xl'></i>">
        <div data-favorite-target="heart" data-action="click->favorite#like"><i class="fa-regular fa-heart fa-xl"></i></div>
      </div>
      <div style="height: 12px;"></div>
      <div style="text-align: right;" data-controller="share" data-share-feedback-text-value="<i class='fa-solid fa-copy fa-xl'></i>">
        <input type="hidden" data-share-target="url" value="<%= cl_video_path @video.video.key %>">
        <div data-share-target="button" data-action="click->share#copy"><i class="fa-regular fa-copy fa-xl"></i></div>
      </div>
      <div style="height: 12px;"></div>
      <div style="text-align: right;">
        <i class="fa-regular fa-folder fa-xl"></i>
      </div>
    </div>
  </div>

  <div style="height: 36px;"></div>

  <div>
    <h5>Related signs</h5>
    <div style="height: 12px;"></div>

    <div class="flex">
      <% @related_videos.each do |video| %>
      <div style="margin-right: 12px;">
        <%= link_to video_path(video) do %>
        <div class="relative">
          <%= cl_video_tag video.video.key, class: "rounded item flex-item" %>
          <div class="absolute">
            <%# <i class="fa-regular fa-bookmark fa-xl opacity-50" style="color: white;"></i> %>
          </div>
        </div>
        <% end %>
        <div class="d-flex justify-content-start">
          <p style="font-weight: 600;"><%= video.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
