<% @favorites = Folder.where(name: "Favorites").and(Folder.where(user: current_user)) %>

<div style="height: 60px;"></div>

<nav class="container bg-primary fixed-bottom">
  <div class="d-flex justify-content-around align-items-center">
    <div>
      <%= link_to root_path do %>
        <i class="fa-solid fa-home fa-xl" style="color: white;"></i>
      <% end %>
    </div>
    <div>
      <%= link_to profile_path do %>
        <i class="fa-solid fa-bookmark fa-xl" style="color: white;"></i>
      <% end %>
    </div>
    <div>
      <%= link_to new_video_path do %>
        <i class="fa-solid fa-square-plus fa-xl" style="color: white;"></i>
      <% end %>
    </div>
    <div>
      <%= link_to folder_path(42) do %>
        <i class="fa-solid fa-heart fa-xl" style="color: white;"></i>
      <% end %>
    </div>
    <div>
      <%= link_to profile_path do %>
        <i class="fa-solid fa-user fa-xl" style="color: white;"></i>
      <% end %>
    </div>
  </div>
</nav>
