<div style="height: 84px;"></div>

<nav class="container bg-primary fixed-bottom">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <%= link_to root_path do %>
        <i class="fa-solid fa-home fa-xl" style="color: white;"></i>
      <% end %>
    </div>
    <% if current_user %>
      <div>
        <%= link_to folders_path do %>
          <i class="fa-solid fa-bookmark fa-xl" style="color: white;"></i>
        <% end %>
      </div>
      <div>
        <%# link_to new_video_path do %>
          <i class="fa-solid fa-square-plus fa-xl" style="color: white;"></i>
        <%# end %>
      </div>
      <div>
        <%= link_to folder_path(current_user.folders.find_by(name: "Favorites").id) do %>
          <i class="fa-solid fa-heart fa-xl" style="color: white;"></i>
        <% end %>
      </div>
    <% end %>
    <div>
      <% if current_user %>
        <%= link_to destroy_user_session_path, id: "logout", data: { "turbo_method": :delete } do %>
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: white;"></i>
        <% end %>
      <% else %>
        <%= link_to profile_path do %>
          <i class="fa-solid fa-user fa-xl" style="color: white;"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
