<div class="container" style="height: 568px; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://res.cloudinary.com/dq1ieegre/image/upload/v1707731772/home_background_oydzxl.jpg    ); background-position: center; background-size: 600px;">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <div style="color: white;">
        <i class="fa-solid fa-bookmark fa-xl"></i>
      </div>
      <div id="logo">&nbsp;&nbsp;signary</div>
    </div>
    <div>
      <%= link_to profile_path do %>
        <i class="fa-solid fa-user fa-xl" style="color: white;"></i>
      <% end %>
    </div>
  </div>

  <div style="height: 12px;"></div>

  <%# <div class="d-flex justify-content-center align-items-center">
    <span style="color: white;">
      <i class="fa-solid fa-bookmark fa-3x"></i>
    </span>
    <h1 id="logo">&nbsp;&nbsp;signary</h1>
  </div> %>

  <div style="height: 90px;"></div>

  <div>
    <h2>Bridging Worlds<br>
    through<br>
    Sign Language.</h2>
  </div>

  <div style="height: 90px;"></div>

  <div>
    <div class="mx-auto mb-1">
      <form action="/videos">
        <div class="input-group">
          <input type="text" name="search" class="form-control bg-white border-0" placeholder="Search for a sign">
          <button type="submit" class="btn bg-white"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
        </div>
      </form>
    </div>
    <div class="p-1 text-white">
      Examples:&nbsp;&nbsp;<a href="/videos?search=hello" class="text-white opacity-75 px-1">Hello</a>
      <a href="/videos?search=how are you" class="text-white opacity-75 px-1">How are you</a>
    </div>
  </div>

  <div style="height: 60px; color: white;" class="d-flex justify-content-center align-items-end">
    <i class="fa-solid fa-hand-point-down fa-xl fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0; --fa-animation-iteration-count: 3;"></i>
  </div>
</div>

<div class="container">
  <div style="height: 12px;"></div>

<%# <div>
    <h5>Categories</h5>
    <div style="height: 12px;"></div>
  <div class="d-flex">
    <div style="height: 12px;"></div>
    <a href="/videos?search=basics"><button type="button" class="btn-lg btn btn-light category">Basics</button></a>
    <div style="width: 12px;"></div>
    <a href="/videos?search=food"><button type="button" class="btn-lg btn btn-light category">Food</button></a>
    <div style="width: 12px;"></div>
    <a href="/videos?search=greetings"><button type="button" class="btn-lg btn btn-light category">Greetings</button></a>
    <div style="width: 12px;"></div>
    <a href="/videos?search=food"><button type="button" class="btn-lg btn btn-light category">Food</button></a>
    <div style="width: 12px;"></div>
    <a href="/videos?search=greetings"><button type="button" class="btn-lg btn btn-light category">Greetings</button></a>
    <div style="width: 12px;"></div>
    <a href="/videos?search=food"><button type="button" class="btn-lg btn btn-light category">Food</button></a>
    <div style="width: 12px;"></div>
    <a href="/videos?search=greetings"><button type="button" class="btn-lg btn btn-light category">Greetings</button></a>
  </div>
</div> %>

  <div class="d-flex justify-content-end input-group">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Browse by category</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/videos?search=basics">Basics</a></li>
      <li><a class="dropdown-item" href="/videos?search=food">Food</a></li>
      <li><a class="dropdown-item" href="/videos?search=greetings">Greetings</a></li>
    </ul>
  </div>

  <div style="height: 36px;"></div>

  <div>
    <h5>Popular signs</h5>
    <div style="height: 12px;"></div>

    <div class="flex">
      <% @videos.each do |video| %>
      <div style="margin-right: 12px;">
        <div class="relative">
          <%= cl_video_tag video.video.key, class: "rounded item flex-item" %>
          <div class="absolute">
            <%= simple_form_for [video, @bookmark] do |f| %>
              <input name="bookmark[folder_id]" type="hidden" value="1">
              <button type="submit" style="background: none; border: 0;"><i class="fa-regular fa-bookmark fa-xl opacity-50" style="color: white;"></i></button>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <p style="font-weight: 600;"><%= video.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div style="height: 24px;"></div>

  <div>
    <h5>Numbers & letters</h5>
    <div style="height: 12px;"></div>

    <div class="flex">
      <% @spotlight.sort.each do |video| %>
      <div style="margin-right: 12px;">
        <div class="relative">
          <%= cl_video_tag video.video.key, class: "rounded item flex-item" %>
          <div class="absolute">
            <%= simple_form_for [video, @bookmark] do |f| %>
              <input name="bookmark[folder_id]" type="hidden" value="1">
              <button type="submit" style="background: none; border: 0;"><i class="fa-regular fa-bookmark fa-xl opacity-50" style="color: white;"></i></button>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <p style="font-weight: 600;"><%= video.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
