<div class="container" style="background-image: url(/assets/home_background.jpg); background-position: center; background-size: cover;">
  <nav class="d-flex justify-content-end align-items-center p-3" style="padding-top: 24px;">
    <div style="color: white;">
      <i class="fa-solid fa-bars fa-lg"></i>
    </div>
  </nav>

  <div class="d-flex justify-content-center align-items-center">
    <span style="color: white;">
      <i class="fa-solid fa-bookmark fa-2x"></i>
    </span>
    <h1>&nbsp;&nbsp;signary</h1>
  </div>

  <div style="height: 24px;"></div>

  <div>
    <h2>The best place<br>
    to use and learn<br>
    sign language.</h2>
  </div>

  <div style="height: 24px;"></div>

  <div>
    <div class="mx-auto mb-1">
    <form action="/videos">
      <div class="input-group">
        <input type="text" name="search" class="form-control bg-white border-0" placeholder="Search for a sign">
        <button type="submit" class="btn bg-white"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
    </div>
    <div>
      <a href="/videos?search=basics"><button type="button" class="btn btn-outline-white text-white btn-sm py-0">basics</button></a>
      <a href="/videos?search=hello"><button type="button" class="btn btn-outline-white text-white btn-sm py-0">hello</button></a>
      <a href="/videos?search=how are you"><button type="button" class="btn btn-outline-white text-white btn-sm py-0">how are you</button></a>
    </div>
  </div>

  <div style="height: 36px;"></div>
</div>

<div class="container bg-light" style="padding-top: 24px; padding-bottom: 24px;">
  <h5>Popular signs</h5>

  <div style="height: 12px;"></div>

  <div class="video">
      <% @videos.each do |video| %>
      <div>
        <div data-bs-toggle="modal" data-bs-target="#video<%=video.id%>">
          <%= cl_video_tag video.video.key, class: "card-img-top rounded" %>
        </div>
        <div class="modal fade" id="video<%=video.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%=video.name%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= cl_video_tag video.video.key, controls: true, class: "card-img-top" %>
              </div>
              <div class="modal-body">
                <%= render "bookmarks/form", video: video, bookmark: @bookmark %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<nav class="px-3 py-2 bg-primary bottom">
  <span style="color: white; font-size: x-small;">© 2024 Signary, Inc.</span>
</nav>
