<%= render "shared/navbar" %>

<div class="container" style="padding-top: 90px;">
  <div>
    <h3><%= current_user.first_name %>'s Library</h3>
  </div>

  <div style="height: 24px;"></div>

  <%= simple_form_for @folder, html: {
      data: {
        controller: "alert",
        alert_icon_value: "success",
        alert_title_value: "Folder created successfully",
        alert_confirm_button_text_value: "OK!",
        action: "submit->alert#initSweetalert",
        turbo: false
      } } do |f| %>

  <div class="input-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Add a new folder", :autocomplete => :off %>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit"><i class="fa-solid fa-folder-plus"></i></button>
    </div>
  </div>

  <% end %>
</div>

<hr>

<div class="container" >
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-end input-group">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">My Folders</button>
        <ul class="dropdown-menu dropdown-menu-end" style="width: 100%git a">
          <% @folders.each do |folder| %>
            <li><%= link_to folder.name, folder_path(folder) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div style="height: 12px;"></div>

    <div class="folder-container">
      <div class="folder">
        <% @folders.each do |folder| %>
          <%= link_to folder_path(folder) do %>
          <div class="card d-flex justify-content-between align-items-center bg-light" style="border-color: #DDDDDD;">
            <div class="card-body">
              <%= link_to folder.name, folder_path(folder) %>
              <%= link_to folder_path(folder), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash fa-lg"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
