<%= render "shared/navbar" %>

<div class="container" style="padding-top: 90px;">
  <div>
    <h3><%= current_user.first_name %>'s Library</h3>
  </div>

  <div style="height: 24px;"></div>

  <%= simple_form_for @folder, html: {
      data: {
        controller: "alert",
        alert_icon_value: "success",
        alert_title_value: "Folder created successfully",
        alert_confirm_button_text_value: "OK!",
        action: "submit->alert#initSweetalert",
        turbo: false
      } } do |f| %>

  <div class="input-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Add a new folder", :autocomplete => :off %>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit"><i class="fa-solid fa-folder-plus"></i></button>
    </div>
  </div>

  <% end %>
</div>

<hr>

<div class="container">
  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select a folder</button>
    <ul class="dropdown-menu">
      <% @folders.each do |folder| %>
        <li><a class="dropdown-item" href="/folders/<%= folder.id %>"><%= folder.name.capitalize %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>
